<%= form_with model:@post, local: true do |f| %>

  <div>
    <%= f.label :pictures %><br/>
    <%= f.file_field :pictures, multiple: true %>
  </div><br>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  
	<div>
  	<%= f.submit %>
	</div>
<% end %>   